
<h1><%= @propertyrecord.name %></h1>
<div class= "container">

<div class= "row">
<div class= "col">

<h3>Description</h3>
<p><%= @propertyrecord.description %></p>
<h3>Notes</h3>
<p><%= @propertyrecord.notes %></p>
</div>
<div class= "col">
<%= button_to "Edit", edit_propertyrecord_path(@propertyrecord), method: :get,
class: "btn btn-secondary" %><br>

<%= button_to "Delete", propertyrecord_path(@propertyrecord), method: :delete, 
class: "btn btn-danger",
data: { turbo_confirm: "Are you sure?" } %><br>

<%= button_to "Cash_Record", propertyrecord_cashrecords_path(propertyrecord_id: @propertyrecord.id),
method: :get, class: "btn btn-secondary" %>

</div>
</div>
<h2>Cash In Record</h2>
<% @propertyrecord.cashrecords.each do |cash_record| %>
<% if cash_record.transaction_type == "cash_in" %>
<div class= "row">
  <div class= "col">
    <strong>Category:</strong>
    <%= cash_record.category %>
  </div>

  <div class= "col">
    <strong>Amount:</strong>
    <%= cash_record.amount %>
  </div>
  <div class= "col">
    <strong>Notes:</strong>
    <%= cash_record.notes %>
  </div>
  </div>
<% end %>
<% end %>

</div>
